
#root{
  min-height: inherit;
}

.App{
  min-height: inherit;
}

*, *after, *before {
    -webkit-box-sizing: inherit !important;
    box-sizing: inherit !important;
}

.Main{
  box-sizing: content-box;
}

.home-cont{
  min-height: inherit;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 20px 300px 500px;
}

/* .ui.raised.very.padded.text.container.segment{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;

} */



.start-screen{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
}
.fightBar{
  display: grid;
  grid-template-columns: 10% 30% 20% 30% 10%;
  grid-template-rows: 10% 31% 29% 10% 20%;
  background-image: url("https://i.imgur.com/PFg4L0H.png?1")
}


.playerPic{
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: end;
  font-size: small;
  font-weight: bold;
  color: white
}


.monsterPic{
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  font-size: small;
  font-weight: bold;
  color: white
}


.playerBar{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
  justify-self: center;
  align-self: end;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.playerHP {
  background: #c54;
  height: 10px;
  position: relative;

  transition: width .5s linear;
}

.playerHit {
  background: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;

  transition: width .5s linear;
}
.monsterBar{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  justify-self: center;
  align-self: stretch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.monsterHP {
  background: #c54;
  height: 10px;
  position: relative;

  transition: width .5s linear;
}

.monsterHit {
  background: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;

  transition: width .5s linear;
}

.playerMoves{
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
  align-self: top;
}

.monsterMoves{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}

.tile{
  display: inline-flex;
}

.floor{
  background-image: url('./images/floortile1.png')
}

.walltop{
  background-image: url('./images/walltop.png')
}

.midwalltop{
  background-image: url('./images/midwalltop.png')
}

.wallbottom{
  background-image: url('./images/wallbottom.png')
}

.midwallbottom{
  background-image: url('./images/midwallbottom.png')
}

.table{
  background-image: url('./images/tablewtile.png')
}

.door{
  background-image: url('./images/door.png')
}
