

.App {
  text-align: center;
}

.fightBar{
display: grid;
grid-template-columns: 15% 30% 10% 30% 15%;
grid-template-rows: 72% 10% 18%;
}

.worldMap{
  background-image: url('https://i.imgur.com/mh2ASbP.png')

}
