.tile{
  display: inline-flex;
}

.floor{
  background-image: url('./images/floortile1.png')
}

.wall{
  background-image: url('./images/wall.png')
}

.table{
  background-image: url('./images/perftable.png')
}

.door{
  background-image: url('./images/door.png')
}
